{% extends "main.html.twig" %}

{% block header %}
    <script>
        $(document).ready( function() {

            const mySlides = [
                { src: "assets/img/gerechten/burger.jpg" },
                { src: "assets/img/gerechten/eggs.jpg" },
                { src: "assets/img/gerechten/pizza.jpg" },
                { src: "assets/img/gerechten/sushi.jpg" },
            ]
            
            $("#background-image").vegas({
                overlay: 'vegas/overlays/02.png',
                slides: mySlides
            })

        })
    </script>
{% endblock %}

{# content #}
{% block content %}
<script>
    function veranderAantal(int) {
        
    }
    
</script>


    <div class="row"> 
        <div class="col-md-11 m-5 mt-5" style="background-color: var(--kahki)">
            <div class="row">
                <div class="col-md-12 mb-5 mt-2">
                    <h1 style="color: var(--darker-green)">Boodschappen</h1>
                </div>
            </div>

            {% for record in data %}
            <div class="row ml-3 mb-5">
            <div class="col-md-12 scroll">
            <div class="row">
                {# foto #}
                <div class="col-md-1 product_foto" style="background-image: url(assets/img/producten/{{ record.artikel_afbeelding }}); border: 1px solid grey;">
                </div>
                {# artikel #}
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 style="color: var(--darker-green)">{{ record.naam }}</h2>
                        </div>
                        <div class="col-md-12">
                            <p>{{ record.omschrijving }}</p>
                        </div>
                    </div>
                </div> 
                {# aantal #}
                <div class="col-md-1 aantal-box">
                    <br>
                    <input type="text" style="width: 30px" value="{{ record.aantal_kopen }}"></input>
                </div>
                {# prijs #}
                <div class="col-md-1">
                    <br>
                    <i class="fa fa-euro-sign fa-2x" style="color: red"></i> {{record.prijs}},-
                </div>
                {# check #}
                <div class="col-md-1">
                    <br>
                    <i class="fa fa-check fa-2x" style="color: green"></i>
                </div>
                {# verwijderen #}
                <div class="col-md-1" onclick="verwijderBoodschappen({{record.user_id}}, {{record.artikel_id}})">
                    <br>
                    <i class="fa fa-trash fa-2x verwijder" style="color: red"></i>
                </div>
            </div>
            </div>
            </div>
            {% endfor %}

            <div class="row mt-5">
                <div class="col-md-9">
                    <h2 style="color: var(--darker-red)">Totaal</h2>
                </div>
                {# prijs totaal #}
                <div class="col-md-1">
                    {% set prijs_totaal = 0 %}
                    {% for record in data %}
                        {% set prijs_totaal = prijs_totaal + (record.prijs * record.aantal_kopen) %}
                    {% endfor %}
                    <i class="fa fa-euro-sign fa-2x" style="color: red"></i>{{ prijs_totaal }},-
                </div>
                
                <div class="col-md-1">
                </div>
                {# alles verwijderen #}
                <div class="col-md-1">
                    <i class="fa fa-trash fa-2x verwijder" style="color: red"></i>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
