{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{# header #}
{% block header %}

    <script>
        $(document).ready( function() {

        const mySlides = [
                { src: "assets/img/burger.jpg" },
                { src: "assets/img/eggs.jpg" },
                { src: "assets/img/pizza.jpg" },
                { src: "assets/img/sushi.jpg" },
            ]
        
        $("#background-image").vegas({
            overlay: 'vegas/overlays/02.png',
            slides: mySlides
        })

      })
    </script>

{% endblock %}


{# content #}
{% block content %}
    <div class="row justify-content-around">
        {% for record in data %}
            <div class="gerechten">
                <div class="row">
                    <div class="col-md-12">
                        <div class="gerechten_foto" style="background-color: pink">
                            {{ record.afbeelding }} 
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" id="gerechten_titel">
                        <h2>{{record.titel}}</h2>
                    </div>
                    <div class="col-md-6" id="gerechten_waardering">
                        <p>waardering</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" id="korte_omschrijving">
                        <p>{{record.korte_omschrijving}}<p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" id="smullen">
                        <p>smullen</p>
                    </div>
                    <div class="col-md-2" id="gerechten_info">
                        <i class="fa fa-user-friends" style="color: red"></i> 4 
                    </div>
                    <div class="col-md-2" id="gerechten_info">
                        <i class="fa fa-euro-sign" style="color:red"></i>{{record.prijs_gerecht}}
                    </div>
                    <div class="col-md-2" id="gerechten_info">
                        <i class="fas fa-fire" style="color:red"></i> {{record.calorieen}}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
